.order
  padding-top 40px
  text-align center

  &__title
    margin-bottom 20px
    font(2.5em, 1.2, 400, uppercase)

  &__quest
    font(2em, 1.2, 400, uppercase)

  &--dark
    color $white
    background-color $tundora