body
  color $tundora
  font-size 80%

  @media $tablet
    font-size 90%

  @media $desktop
    font-size 100%

body
input
  font-weight 300
  font-family $font

h1
  font-weight 900

h2
h3
  font-weight 900

body
figure
h1
h2
h3
p
ul
  margin 0

figure
ul
  padding 0
